<ion-header>
  <ion-toolbar>
    <ion-title>Avatar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="../../../assets/stan-lee.jpg" />
      </ion-avatar>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar>
    <img src="../../../assets/stan-lee.jpg">
  </ion-avatar>
  
  <ion-chip>
    <ion-avatar>
      <img src="../../../assets/stan-lee.jpg">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>
  
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/stan-lee.jpg">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>

</ion-content>
